<br>
<hr>
<div class="row form-group">
    <input class="col-md-4 form-control" type="file" accept=".xls,.xlsx" id="customFile" (change)="selectFile($event)"
        multiple="false">
    <button class="col-md-2 btn btn-primary" [disabled]="false" (click)="upload()">Importer les roles</button>
</div>

<br>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Liste des roles des utilisateurs</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Num</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of listOfRole | async; let i= index">
                    <td>{{i+1}}</td>
                    <td>{{role.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
